<section class="contenedor">
    <form action="/vacancies/new" method="POST" class="default-form">
        <h3>Información General</h3>
        <!-- TITULO -->
        <div class="campo">
            <label for="title">Titulo</label>
            <input type="text" id="title" name="title" placeholder="React Developer">
        </div>
        <!-- EMPRESA -->
        <div class="campo">
            <label for="company">Empresa</label>
            <input type="text" id="company" name="company" placeholder="Facebook">
        </div>
        <!-- UBICACION -->
        <div class="campo">
            <label for="ubication">Ubicación</label>
            <input type="text" id="ubication" name="ubication" placeholder="Colombia">
        </div>
        <!-- SALARIO -->
        <div class="campo">
            <label for="salary">Salario(USD) </label>
            <input type="text" id="salary" name="salary" placeholder="$500">
        </div>
        <!-- Contrato -->
        <div class="campo">
            <label for="contract">Contrato </label>
            <select name="contract" id="contract">
                <option value="" disabled selected>-- Selecciona --</option>
                <option value="freelancer">Freelancer</option>
                <option value="complete">Tiempo Completo</option>
                <option value="medium">Medio Tiempo</option>
                <option value="project">Proyecto</option>
            </select>
        </div>
        <!-- Descripción -->
        <h3>Descripción del puesto</h3>
        <div class="campo descripcion">
            <label>Descripción</label>
            <input type="hidden" id="x" name="description">
            <trix-editor input="x"></trix-editor>
        </div>

        <!-- Habilidades -->
       <ul class="lista-conocimientos">
            {{selectSkills selectedSkills}}
       </ul>
    </form>
</section>