<main class="lista-vacantes">
    <h2>Navegación</h2>
    <div class="botones separador">
        <a href="/profile" class="btn btn-azul">Editar Perfil</a>
        <a href="/vacancies/new" class="btn btn-verde">publicar vacante</a>
    </div>
</main>