<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{namePage}}</title>
</head>
<body>
    <header class="nombre-sitio contenedor">
        <h1>
            <a href="/">devJobs</a>
        </h1>

        {{#if navbar}}
            <div class="buscador">
                <form action="#">
                    <input type="text" class="buscar">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}
    </header>

    <main>
        
        <section class="site-header contenedor separador">
            <h2>{{namePage}}</h2>
            {{#if tagline}}
                <p class="tagline">{{tagline}}</p>
            {{/if}}

            {{#if button}}
                <a href="/vacancies/new" class="btn btn-azul">publicar nueva vacante</a>
            {{/if}}
        </section>

        <section class="contenido-principal contenedor">
            {{{body}}}
         </section>
    </main>
    <script src="/js/trix.js"></script>
</body>
</html>