<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="/css/app.css">
    <title>{{namePage}}</title>
</head>
<body>
    <header class="nombre-sitio contenedor">
        <h1>
            <a href="/">devJobs</a>
        </h1>
    </header>

    <main>
        <section class="contenido-principal contenedor">
            {{{body}}}
         </section>
    </main>
</body>
</html>